//colors
$colors: (
    bgColor: #0079bf, 
    bgColumnColor: #dfe1e6,
    fontColumnColor: #172b4d,
    bgHeaderAndAddElemColor: #6b778c,
    bgHeaderAndAddElemHoverColor: #c3c7d1,
    bgItemColor: #fff,
    bgEditIconColor: #ebecf0,
    fontBagesColor: #fff
);