//colors
$colors: (
    bgColor: #0079bf, 
    bgColumnColor: #dfe1e6,
    fontColumnColor: #172b4d,
    fontEditColor: #42526e,
    HeaderAndAddElemColor: #6b778c,
    bgHeaderAndAddElemHoverColor: #c3c7d1,
    bgItemColor: #fff,
    bgEditIconColor: #ebecf0,
    fontBagesColor: #fff,
    bgTaskCheckListColor: #61bd4f,
    bgTaskDateListColor: #eb5a46,
    bgLabelOrangeColor: #ff9f1a,
    bgLabelVioletColor: #c377e0
);