@import 'colors'; //import colors file
@import 'baseSettings'; //import baseSettings file

//map function setting colors
@function color($get) {
    @if map-has-key($colors, $get) {
      @return map-get($colors, $get);
    }
  
    @return null;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: color(bgColor);
    font-size: $baseFontSize;
    font-family: $baseFontFamily;
    width: 100%;
}

#container {
    user-select: none;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 30px 8px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    
    // board classes
    .wrapper {
        width: 272px;
        margin: 0 4px;
        height: 100%;
        box-sizing: border-box;
        display: inline-block;
        vertical-align: top;
        white-space: nowrap;
        z-index: 1;

        .column {
            background-color: color(bgColumnColor);
            border-radius: $baseBorderRadius;
            display: flex;
            flex-direction: column;
            max-height: 100%;
            position: relative;
            cursor: pointer;

            // board task header
            .column-header {
        
                display: flex;
                padding: 10px 8px;
                width: 100%; 

                .column-header-target {
                    overflow: hidden;
                    word-wrap: break-word;
                    display: block;
                    height: 28px;
                    resize: none;
                    border: none;
                    color: color(fontHeaderColumnColor);
                    background: transparent;
                    font-weight: $baseFontBoldExtra;
                    pointer-events: none;
                    padding: 4px 8px;
                    margin: -4px 0;
                    flex-grow: 1;
                    line-height: 20px;
                    cursor: pointer;
                }
                .column-header-extras {
                    display: block;
                    box-sizing: border-box;
                    width: 30px;
                    height: 25px;
                    text-align: center;
                    margin: -4px;
                    line-height: 19px;
                
                    a {
                        text-decoration: none;
                        display: block;
                        font-weight: $baseFontBold;
                        font-size: 16px;
                        letter-spacing: 1px;
                        color: color(headerAndAddElemColor);
                        padding: 0px 7px 9px;
                        &:hover {
                            background-color: color(bgHeaderAndAddElemHoverColor);
                            border-radius: 3px;
                        }
                    }
                    
                }
            }

            // tasklist
            .column-items {
            
                display: block;
                flex: 1 1 auto;
                overflow-y: auto;
                overflow-x: hidden;
                padding: 0 8px;
                z-index: 1;
                min-height: 0;
                
                // single task
                a {
                    background-color: color(bgItemColor);
                    border-radius: $baseBorderRadius;
                    box-shadow: 0 1px 0 rgba(9,30,66,.25);
                    display: block;
                    margin-bottom: 8px;
                    max-width: 300px;
                    min-height: 20px;
                    position: relative;
                    text-decoration: none;
                    z-index: 0;
                    
                    // task content 
                    .item {
                        overflow: hidden;
                        padding: 6px 8px 2px;
                        position: relative;
                        z-index: 10;

                        &:hover > .icon-pencil {
                            opacity: 0.7;
                        }

                        // list card labels
                        .list-card-labels {
                            display: flex;
                            flex-direction: row;
                            overflow: auto;

                            &:hover {
                                span {
                                    &:after {
                                        background: rgba(0, 0, 0, 0.2);
                                    }
                                }                              
                            }

                            .label-orange, .label-violet {
                                
                                display: block;
                                height: 8px;
                                margin: 0 4px 4px 0;
                                width: 40px;
                                padding: 0;
                                border-radius: $baseBorderRadius + 3px;
                                position: relative;
                                z-index: 0;

                                &:after {
                                    content: "";                                  
                                    position: absolute;
                                    top: 0px;
                                    left: 0px;
                                    width: 40px;
                                    height: 8px;
                                    border-radius: 6px;
                                    z-index: 50;
                                }
                            }

                            .label-orange {
                                background: color(bgLabelOrangeColor);
                            }

                            .label-violet {
                                background: color(bgLabelVioletColor);
                            }
                        }
                        
                        //task
                        .item-title {
                            display: block;
                            margin: 0 0 4px;
                            overflow: hidden;
                            text-decoration: none;
                            word-wrap: break-word;
                            color: color(fontColumnColor);
                            font-weight: $baseFontBold;
                            padding-bottom: 4px;
                        }

                        // bages elements
                        .badges {
                            margin: 3px 3px 6px 0;
                            display: flex;
                            flex-direction: row;

                            .badge-checklist {
                                padding: 2px 4px 3px;
                                display: inline;
                                border-radius: $baseBorderRadius;
                                background-color: color(bgTaskCheckListColor);
                                color: color(fontBagesColor);
                                
                                .info-check {
                                    font-size: 12px;
                                    display: inline;
                                    font-weight: $baseFontBold;
                                    vertical-align: center;
                                    white-space: nowrap;
                                    overflow: hidden;
                                }
                            }

                            .badge-date {
                                padding: 2px 4px 3px;
                                display: inline;
                                border-radius: $baseBorderRadius;
                                background-color: color(bgTaskDateListColor);
                                color: color(fontBagesColor);

                                .info-date {
                                    font-size: 12px;
                                    font-weight: $baseFontBold;
                                    vertical-align: center;
                                    white-space: nowrap;
                                }
                            }

                            .badge-description {
                                margin: 0 10px;
                                padding-top: 5px;
                                .icon-align-justyfify {
                                    padding: 10px;
                                }
                            }
                        }
    
                        .icon-pencil {
                            width: 28px;
                            height: 28px;
                            position: absolute;
                            border-radius: $baseBorderRadius;
                            padding: 5px;
                            top: 4px;
                            right: 4px;
                            display: block;
                            line-height: 10px;
                            z-index: 9;
                            opacity: 0;
                            color:  color(fontEditColor);
                            transition: opacity 0.2s;
                            
                            &:hover {
                                background-color: color(bgEditIconColor);
                                opacity: 0.8;
                            }
    
                        }
                    }
                }
            }

            // add new task
            .add-item {
                padding: 8px 8px 10px;
                user-select: none;
                position: relative;
                padding-left: 28px;
                text-decoration: none;
    
                &:hover {
                    text-decoration: underline;
                    border-bottom-left-radius: $baseBorderRadius;
                    border-bottom-right-radius: $baseBorderRadius;
                    background-color:color(bgHeaderAndAddElemHoverColor);
                }
    
                .item-another-task {
                   color: color(fontColumnColor);
                   
                   &:before {
                        content: "+";
                        position: absolute;
                        top: -2px;
                        left: 10px;
                        font-size: 24px;
                   }
                }
            }
        }
    }
}

.hide {
    display: none;
    text-indent: -9999px;
    height: 0;
}