@import 'colors'; //import colors file
@import 'baseSettings'; //import baseSettings file

//map function setting colors
@function color($get) {
    @if map-has-key($colors, $get) {
      @return map-get($colors, $get);
    }
  
    @return null;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
}

body {
    background-color: color(bgColor);
    font-size: $baseFontSize;
    font-family: $baseFontFamily;
}

#container {
    user-select: none;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 30px 8px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;

    .wrapper {
        width: 272px;
        margin: 0 4px;
        height: 100%;
        box-sizing: border-box;
        display: inline-block;
        vertical-align: top;
        white-space: nowrap;
        z-index: 1;

        .column {
            background-color: color(bgColumnColor);
            border-radius: $baseBorderRadius;
            display: flex;
            flex-direction: column;
            max-height: 100%;
            position: relative;
            cursor: pointer;

            .column-header {
        
                display: flex;
                padding: 10px 8px;
                width: 100%; 

                .column-header-target {
                    overflow: hidden;
                    word-wrap: break-word;
                    display: block;
                    height: 28px;
                    resize: none;
                    border: none;
                    color: color(fontHeaderColumnColor);
                    background: transparent;
                    font-weight: $baseFontBoldExtra;
                    pointer-events: none;
                    padding: 4px 8px;
                    margin: -4px 0;
                    flex-grow: 1;
                    line-height: 20px;
                    cursor: pointer;
                }
                .column-header-extras {
                    display: block;
                    box-sizing: border-box;
                    width: 30px;
                    height: 25px;
                    text-align: center;
                    margin: -4px;
                    line-height: 19px;
                
                    a {
                        text-decoration: none;
                        display: block;
                        font-weight: $baseFontBold;
                        font-size: 16px;
                        letter-spacing: 1px;
                        color: color(headerAndAddElemColor);
                        padding: 0px 7px 9px 7px;
                        &:hover {
                            background-color: color(headerExtrasMenuHoverColor);
                            border-radius: 3px;
                        }
                    }
                    
                }
            }
        }
    }
}

.hide {
    display: none;
    text-indent: -9999px;
    height: 0;
}