
.icon-pencil:before { content: '\e800'; } /* '' */
.icon-check:before { content: '\e801'; } /* '' */
.icon-clock:before { content: '\e802'; } /* '' */
.icon-align-justify:before { content: '\e803'; } /* '' */